<html>
	<head>
		<title>Quiz App</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
		      <span class="mdl-layout-title">Quiz Application</span>
		      <div class="mdl-layout-spacer"></div>
		      <nav class="mdl-navigation mdl-layout--large-screen-only">
		        <a class="mdl-navigation__link" href="">Home</a>
		        <a class="mdl-navigation__link" href="">Quiz Categories</a>
		        <a class="mdl-navigation__link" href="">Link</a>
		        <a class="mdl-navigation__link" href="">Link</a>
		      </nav>
		    </div>
		  </header>
		</div>
		<main class="mdl-layout__content">
	    <div class="page-content">
	    	<h2>How knowledgeable are you?</h2>
	    	<p>Find out by taking our fun tests in different categories</p>
	    </div>
	    <div class="quiz-categories">
	    <button id="submit" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	    	<a href="">General Technology</a></button>
	    <button id="submit" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	    	<a href="">Mathematics</a>
	    </button>
	    <button id="submit" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	    	<a href="">Others</a>
	    </button>
	    </div>
	  </main>
	</body>
</html>