html
  head
    title #{title} - Quiz application
    block styles
      link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="//code.getmdl.io/1.2.1/material.indigo-pink.min.css")
      script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.1/material-grid.min.css')
    block scripts
      script(src='https://www.gstatic.com/firebasejs/3.6.2/firebase.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script.
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBrpB0CTavWdcN3NQcR07xM6UKz8WZtqWg",
          authDomain: "quiz-application-199b2.firebaseapp.com",
          databaseURL: "https://quiz-application-199b2.firebaseio.com",
          storageBucket: "quiz-application-199b2.appspot.com",
          messagingSenderId: "550910490749"
        };
        firebase.initializeApp(config);

  body
    #container
      block content