body {
	background: #d1cad7;
}




/**#logo {
	width: 100%;
	border: 5px solid black;
	padding: 1em;
}**/
.header-links ul li {
	list-style: none;
}

#header{
	text-align: center;
}

#header h6{
	font-family: 'Lato', sans-serif;
}

.login form{
	vertical-align: center;
}